body {
  background: rgb(237, 237, 237);
  background: -moz-radial-gradient(
    circle,
    rgba(237, 237, 237, 1) 0%,
    rgba(213, 234, 245, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(237, 237, 237, 1) 0%,
    rgba(213, 234, 245, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(237, 237, 237, 1) 0%,
    rgba(213, 234, 245, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ededed",endColorstr="#d5eaf5",GradientType=1);
}

article {
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.box {
  align-self: center;
}
