<mat-card class="shipping-card">
  <mat-card-content>
    <section id="htmlData" class="ftco-section">
      <div class="container">
        <div class="row justify-content-center"></div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="text-center mb-4">
              Reporte Del Evento {{ this.eventName || "" | titlecase }}
            </h4>
            <div class="table-wrap">
              <table class="table">
                <thead class="thead-primary">
                  <tr>
                    <th title="Número de cédula del miembro">Cédula</th>
                    <th title="Nombre completo del miembro">Nombre</th>
                    <th title="Día del evento">Día</th>
                    <th title="Hora de llegada del miembro">Hora</th>
                    <th title="Confirmación previa de asistencia">
                      Confirmado
                    </th>
                    <th title="Usuario que lo registró">Usuario</th>
                  </tr>
                  <!-- * cédula, el nombre, si el miembro confirmó, la hora en que se presentó, el día de evento y además el usuario que registró su ingreso.   -->
                </thead>
                <tbody>
                  <!-- * Cargamos la data del PDF aquí -->
                  <tr *ngFor="let register of datos">
                    <th scope="row" class="scope">
                      {{ register.cedula }}
                    </th>
                    <th class="border-bottom-0">{{ register.miembro }}</th>
                    <td class="border-bottom-0">
                      {{ register.fecha | date : "mediumDate" }}
                    </td>
                    <td class="border-bottom-0">
                      {{ register.fecha | date : "shortTime" }}
                    </td>
                    <td class="border-bottom-0">{{ register?.confirmado == true ? 'Sí' : 'No' ?? 'Indefinido'}}</td>
                    <td class="border-bottom-0">{{ register.usuario_registrador }}</td>
                  </tr> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <mat-card-actions>
      <div>
        <button
          mat-flat-button
          id="btnBack"
          (click)="onBack()"
          title="Volver a la página anterior"
        >
          Volver
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
      </div>
      <div class="col-md-4 text-right">
        <button
          mat-flat-button
          color="accent"
          (click)="openPDF()"
          title="Descargar documento PDF"
        >
          Descargar PDF
          <mat-icon>cloud_download</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
