<div class="grid-container">
  <h1 class="mat-h1">Eventos</h1>
  <mat-grid-list [cols]="3" rowHeight="12em" gutterSize="10px" *ngIf="datos">
    <mat-grid-tile *ngFor="let evento of datos">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ evento.nombre <i class='bx bx-calendar-event bx-tada' ></i>}} 
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>{{ evento.descripcion}}</div>
          <div></div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button
            mat-mini-fab
            matTooltip="Detalle del evento"
            aria-label="Detalle del evento"
            title="Detalle del evento"
            (click)="detalleEvento(evento.event_id)"
          >
            <mat-icon class="mat-18">info</mat-icon>
          </button>
          <button
            mat-mini-fab
            matTooltip="Editar la información del evento"
            aria-label="Editar la información del evento"
            title="Editar la información del evento"
            (click)="editarEvento(evento.event_id)"
            *ngIf="evento.estado == 1"
          >
          <!-- ? Que el evento esté abierto y sea administrador -->
            <mat-icon class="mat-18">border_color</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- ! ngIf="currentUser.perfil == 'Admnistrador'" -->
</div>
