mat-form-field.mat-form-field {
  font-size: 16px;
}

.shipping-card {
  color: aliceblue;
}

.mat-card-title {
  color: aliceblue;
}

.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.mat-card {
  background-color: #377aaa;
  border: 2px solid;
  border-radius: 15px;
}

mat-card-actions button {
  opacity: 0.7;
}

#btnLogin {
  color: aliceblue;
  background-color: #5eafe8;
}

#btnCancelar {
  color: aliceblue;
  background-color: red;
}

.mat-raised-button{
  opacity: 0.6;
}

.mat-raised-button:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
}

.matInput {
  font-family: Graphie, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

mat-label {
  font-size: large;
}

mat-card-content div {
  padding-top: 5px;
  padding-bottom: 2px;
}

div a {
  color: aliceblue;
  opacity: 0.5;
  text-decoration: none;
}

div a:hover {
  opacity: 1;
  text-decoration: underline;
}
