<form [formGroup]="formularioLogin"  novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Ingrese los datos solicitados </mat-card-title>
    </mat-card-header> 
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" color="accent">
            <mat-label title="Nombre de usuario">Username</mat-label>
            <input matInput #username="" type="text" placeholder="Nombre de usuario" autocomplete="true" formControlName="username" pattern="^[a-zA-Z0-9_.-]*$" minlength="5" maxlength="16" required="true" />
            <!-- ! Sirve para controlar los lenght -->
            <mat-hint>{{ username.value.length }} / 16</mat-hint>
            <!-- ? Validaciones en el HTML pá -->
           <mat-error *ngIf="errorHandling('username', 'required')">
              El nombre de usuario es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="errorHandling('username','pattern')">
              Verifique el <strong>formato</strong> del nombre de usuario
            </mat-error>
            <mat-error *ngIf="errorHandling('username','minlength')">
              Verifique la <strong>longitud mínima</strong> del nombre de usuario
            </mat-error>
            <mat-error *ngIf="errorHandling('username','maxlength')">
              Verifique la <strong>longitud máxima</strong> del nombre de usuario
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" color="accent">
          <mat-label>Password</mat-label>
          <input matInput #password="" [type]="hide ? 'password' : 'text'" placeholder="Digite su contraseña" autocomplete="true" formControlName="password" minlength="8" maxlength="32" required="true" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" [title]="hide ? 'Mostrar Contraseña' : 'Ocultar Contraseña'">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>{{ password.value.length }} / 32</mat-hint>
         <mat-error *ngIf="errorHandling('password', 'required')">
            La contraseña es <strong>requerida</strong>
          </mat-error>
          <mat-error *ngIf="errorHandling('password','minlength')">
            Verifique la <strong>longitud mínima</strong> de la contraseña
          </mat-error>
          <mat-error *ngIf="errorHandling('password','maxlength')">
            Verifique la <strong>longitud máxima</strong> de la contraseña
          </mat-error>
        </mat-form-field>
        </div>
      </div>
      <div>
        <!-- * recordar contraseña checkbox -->
        <a href="#" title="¿Olvidaste tu contraseña? próximamente...">¿Olvidaste tu contraseña?</a>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button id="btnLogin" (click)="submitForm()" title="Iniciar sesión">Login</button>
      <button mat-raised-button id="btnCancelar" type="reset" (click)="onReset()" title="Cancelar">Cancelar</button>
    </mat-card-actions>
  </mat-card>
  </form>

